nav {
    text-align: right;
}
ul {
    list-style: none;
}

li {
    display: inline;
}

form {
    text-align: center;
}

#search {
    border-radius: 7px;
    margin-bottom: 1vh;
}

#advance {
    text-align: left;
}

.mb {
    margin-bottom: 1vh;
}

#advance_btn {
    background-color: blue;
    color: white;
}
